<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>分析结果</title>
    <style type="text/css">
        .font0{font-size:larger;color:#0000FF}
        .font1{font-size:large;color:#FF0000}
        .font3{font-size:large;color:#0000FF}
    </style>

    {% load static %}
    <script type='text/javascript' src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript">

        {#$(document).ready( function(){#}
        {##}
        {#    if ({{ predict_result.show_cam }}  == 1 )#}
        {#    {#}
        {#        str_uuid = '{{ predict_result.str_uuid }}'#}
        {##}
        {#        $.get("saliency?type=CAM&str_uuid="+str_uuid, function(data){#}
        {#            if (data.filename_CAM0 != null)#}
        {#            {#}
        {#                $("#image_CAM0").attr("src", data.filename_CAM0);#}
        {#                $("#image_CAM0").css("width", 299);#}
        {#                $("#image_CAM0").css("height", 299);#}
        {#            }#}
        {##}
        {#            if (data.filename_CAM1 != null)#}
        {#            {#}
        {#                $("#image_CAM1").attr("src", data.filename_CAM1);#}
        {#                $("#image_CAM1").css("width", 299);#}
        {#                $("#image_CAM1").css("height", 299);#}
        {#            }#}
        {##}
        {#            if (data.filename_CAM2 != null)#}
        {#            {#}
        {#                $("#image_CAM2").attr("src", data.filename_CAM2);#}
        {#                $("#image_CAM2").css("width", 299);#}
        {#                $("#image_CAM2").css("height", 299);#}
        {#            }#}
        {#        });#}
        {##}
        {#    }#}
        {#});#}
        {##}
        {#$(document).ready( function(){#}
        {##}
        {#    if ({{ predict_result.show_deeplift }}  == 1 )#}
        {#    {#}
        {#        str_uuid = '{{ predict_result.str_uuid }}'#}
        {##}
        {#        $.get("saliency?type=deeplift&str_uuid="+str_uuid, function(data){#}
        {#            if (data.filename_deeplift0 != null)#}
        {#            {#}
        {#                $("#image_deeplift0").attr("src", data.filename_deeplift0);#}
        {#                $("#image_deeplift0").css("width", 299);#}
        {#                $("#image_deeplift0").css("height", 299);#}
        {#            }#}
        {##}
        {#            if (data.filename_deeplift1 != null)#}
        {#            {#}
        {#                $("#image_deeplift1").attr("src", data.filename_deeplift1);#}
        {#                $("#image_deeplift1").css("width", 299);#}
        {#                $("#image_deeplift1").css("height", 299);#}
        {#            }#}
        {##}
        {#            if (data.filename_deeplift2 != null)#}
        {#            {#}
        {#                $("#image_deeplift2").attr("src", data.filename_deeplift2);#}
        {#                $("#image_deeplift2").css("width", 299);#}
        {#                $("#image_deeplift2").css("height", 299);#}
        {#            }#}
        {#        });#}
        {#    }#}
        {##}
        {#});#}
        {##}
        {##}
        function submitBtnClick(){
            var formElement = document.forms[0];
            formElement.submit();

    }

    </script>
</head>
<body>

{% load staticfiles %}
    <p></p>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/uploadimage">分析眼底图像</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/view_diagnoses">历史分析结果 </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/logout">注销</a>
    <p></p>

    <h3 class="font0">AI分析结果</h3>

    {% if 'ocular_surface' in predict_result %}
        {% if  predict_result.ocular_surface == 0 %}
            <span style="color: #302fff"> 这是一张眼底图像. </span>
        {% elif predict_result.ocular_surface == 1 %}
            <span style="color: #FF0000;font-size:large">这张图像很可能是眼表图像！ </span>
        {% elif predict_result.ocular_surface == 2 %}
            <span style="color: #FF0000;font-size:large">这张图像很可能不是视网膜图像！ </span>
        {% endif %}

        {% comment %}
        Probabilities:
        {{ predict_result.ocular_surface_0_name }} :
        {{ predict_result.ocular_surface_0_prob }} %,
        {{ predict_result.ocular_surface_1_name }} :
        {{ predict_result.ocular_surface_1_prob }} %,
        {{ predict_result.ocular_surface_2_name }} :
        {{ predict_result.ocular_surface_2_prob }} %
        {% endcomment %}
        <br>
    {% endif %}

    {% if 'img_gradable' in predict_result %}
        {% if  predict_result.img_gradable == 0 %}
            <span style="color: #302fff">图像质量：可以评级. </span>
        {% elif predict_result.img_gradable == 1 %}
            <span style="color: #FF0000;font-size:large">图像质量：不可评级. </span>
        {% endif %}

        {% comment %}
        Probabilities:
        gradable :
        {{ predict_result.img_gradable_0_prob }} %,
        ungradable :
        {{ predict_result.img_gradable_1_prob }} %
        {% endcomment %}
         <br>
    {% endif %}

    {% if 'left_right_eye' in predict_result %}
        {% if predict_result.left_right_eye == 0 %}
            <span style="color: #302fff"> 眼别：左眼. </span>
        {% elif predict_result.left_right_eye == 1 %}
            <span style="color: #302fff;font-size:large"> 眼别：右眼. </span>
        {% endif %}

        {% comment %}
        Probabilities:
        left eye :
        {{ predict_result.left_right_eye_0_prob }} %,
        right eye :
        {{ predict_result.left_right_eye_1_prob }} %
        {% endcomment %}
        <br>
    {% endif %}

    {% if 'img_position' in predict_result %}
        {% if  predict_result.img_position == 0 %}
            <span style="color: #302fff">拍摄角度：以黄斑为中心. </span>
        {% elif predict_result.img_position == 1 %}
            <span style="color: #302fff;font-size:large">拍摄角度：以视盘为中心. </span>
        {% elif predict_result.img_position == 2 %}
            <span style="color: #302fff;font-size:large">拍摄角度：其他. </span>

        {% endif %}
        <br>
    {% endif %}

    <p></p>
    <h3 class="font1"  >AI分析的结果是：{{ predict_result.disease_name }}</h3>
    <p></p>

    {# Main part- bigclass and subclass probabilities #}
    <table border="1" style="width:800px ;">
        <tr>
            <td style="width:300px">病种大类和概率</td>

{#            {% if predict_result.show_cam  %}#}
{#                <td style="width:300px">Class Activation Maps</td>#}
{#            {% endif %}#}
{##}
{#            {% if predict_result.show_deeplift %}#}
{#                <td style="width:300px">DeepLift</td>#}
{#            {% endif %}#}
{##}
{#            {% if predict_result.show_deepshap %}#}
{#                <td style="width:300px">Deep Shap</td>#}
{#            {% endif %}#}

            <td style="width: 300px">病种子类和概率</td>
        </tr>

        {% if predict_result.bigclass_0_prob > 0 %}
        <tr>
            <td>
                {{ predict_result.bigclass_0_name }}
                &nbsp;: &nbsp;
                <font color="red">
                {{ predict_result.bigclass_0_prob }} %
                </font>
            </td>

{#            {% if predict_result.show_cam %}#}
{#                <td>#}
{#                    <img id="image_CAM0" src={{ predict_result.bigclass_0_CAM }} height="299" width="299" alt="">#}
{#                </td>#}
{#            {% endif %}#}
{##}
{#            {% if predict_result.show_deeplift %}#}
{#                <td>#}
{#                    <img id="image_deeplift0" src={{ predict_result.bigclass_0_CAM_deeplift }} height="299" width="299"  alt="">#}
{#                </td>#}
{#            {% endif %}#}
{##}
{#            {% if predict_result.show_deepshap %}#}
{#                <td>#}
{#                    <img id="image_deepshap0" src={{ predict_result.bigclass_0_CAM_deepshap }} height="299" width="299"  alt="">#}
{#                </td>#}
{#            {% endif %}#}

            {# Subclasses #}
            <td>
                {% if predict_result.bigclass_0_no == 0  %}
                    Detection of
                    {{ predict_result.subclass_0_1_2_name }} :

                    {% if predict_result.subclass_0_1_2_prob > 50.0 %}
                        <font  color="red">
                        {{ predict_result.subclass_0_1_2_prob }} %
                        </font>
                    {% else %}
                        <font>
                        {{ predict_result.subclass_0_1_2_prob }} %
                        </font>
                    {% endif %}
                    <br>

                    Detection of
                    {{ predict_result.subclass_0_2_2_name }} :

                    {% if predict_result.subclass_0_2_2_prob > 50.0 %}
                        <font  color="red">
                        {{ predict_result.subclass_0_2_2_prob }} %
                        </font>
                    {% else %}
                        <font>
                        {{ predict_result.subclass_0_2_2_prob }} %
                        </font>
                    {% endif %}
                    <br>

                    Detection of
                    {{ predict_result.subclass_0_3_2_name }} :

                    {% if predict_result.subclass_0_3_2_prob > 50.0 %}
                        <font  color="red">
                        {{ predict_result.subclass_0_3_2_prob }} %
                        </font>
                    {% else %}
                        <font>
                        {{ predict_result.subclass_0_3_2_prob }} %
                        </font>
                    {% endif %}

                {% endif %}

                {% if predict_result.bigclass_0_no == 1  %}
                    {{ predict_result.subclass_1_1_name }}:
                    <font color="red">
                    {{ predict_result.subclass_1_1_prob }} %
                    </font>
                    <br>
                    {{ predict_result.subclass_1_2_name }}:
                    <font >
                    {{ predict_result.subclass_1_2_prob }} %
                    </font>
                {% endif %}

                {% if predict_result.bigclass_0_no  == 2  %}
                    {{ predict_result.subclass_2_1_name }}:
                    <font color="red">
                    {{ predict_result.subclass_2_1_prob }} %
                    </font>
                    <br>
                    {{ predict_result.subclass_2_2_name }}:
                    <font >
                    {{ predict_result.subclass_2_2_prob }} %
                    </font>
                {% endif %}

                {% if predict_result.bigclass_0_no  == 5  %}
                    {{ predict_result.subclass_5_1_name }}:
                    <font color="red">
                    {{ predict_result.subclass_5_1_prob }}
                    </font>
                    <br>
                    {{ predict_result.subclass_5_2_name }}:
                    <font >
                    {{ predict_result.subclass_5_2_prob }} %
                    </font>
                {% endif %}

                {% if predict_result.bigclass_0_no  == 15  %}
                    {{ predict_result.subclass_15_1_name }}:
                    <font color="red">
                    {{ predict_result.subclass_15_1_prob }} %
                    </font>
                    <br>
                    <font>
                    {{ predict_result.subclass_15_2_name }}:
                    {{ predict_result.subclass_15_2_prob }} %
                    </font>
                {% endif %}

                {% if predict_result.bigclass_0_no  == 29  %}
                    {{ predict_result.subclass_29_1_name }}:
                    <font color="red">
                    {{ predict_result.subclass_29_1_prob }} %
                    </font>
                    <br>
                    {{ predict_result.subclass_29_2_name }}:
                    <font >
                    {{ predict_result.subclass_29_2_prob }} %
                    </font>
                {% endif %}

                {% if  predict_result.bigclass_0_no  == 10 %}
                    {{ predict_result.subclass_10_1_name }}:
                    <font color="red">
                    {{ predict_result.subclass_10_1_prob }} %
                    </font>
                    <br>
                    {{ predict_result.subclass_10_2_name }}:
                    <font >
                    {{ predict_result.subclass_10_2_prob }} %
                    </font>

{#                    <br>#}
{#                    Cropped optic disc:#}
{#                    <br>#}
{#                    {% if 'img_file_crop_optic_disc' in predict_result %}#}
{#                        {% if  predict_result.img_file_crop_optic_disc != '' %}#}
{#                            <img src={{ predict_result.img_file_crop_optic_disc }} alt="">#}
{#                        {% endif %}#}
{#                    {% endif %}#}
{#                    <br>#}
{#                    {% if 'img_file_crop_optic_disc_mask' in predict_result  %}#}
{#                        {% if  predict_result.img_file_crop_optic_disc_mask != '' %}#}
{#                            <br/>#}
{#                            <img src={{ predict_result.img_file_crop_optic_disc_mask }} alt="">#}
{#                        {% endif %}#}
{#                    {% endif %}#}

                {% endif %}

            </td>

        </tr>
        {% endif %}

        {% if predict_result.bigclass_1_prob > 0 %}
        <tr>
            <td>
                {{ predict_result.bigclass_1_name }}
                &nbsp;: &nbsp;
                <font >
                {{ predict_result.bigclass_1_prob }} %
                </font>
            </td>

{#            {% if predict_result.show_cam == 1 %}#}
{#                <td>#}
{#                    <img id="image_CAM1" src=""  alt="">#}
{#                </td>#}
{#            {% endif %}#}
{##}
{#            {% if predict_result.show_deeplift == 1 %}#}
{#                <td>#}
{#                    <img id="image_deeplift1" src=""  alt="">#}
{#                </td>#}
{#            {% endif %}#}

            {# Subclasses Null #}
            <td>&nbsp;
            </td>
        </tr>
        {% endif %}

        {% if predict_result.bigclass_2_prob > 0 %}
        <tr>
            <td>
                {{ predict_result.bigclass_2_name }}
                &nbsp;: &nbsp;
                <font >
                {{ predict_result.bigclass_2_prob }} %
                </font>
            </td>

{#            {% if predict_result.show_cam == 1 %}#}
{#                <td>#}
{#                    <img id="image_CAM2" src=""  alt="">#}
{#                </td>#}
{#            {% endif %}#}
{##}
{#            {% if predict_result.show_deeplift == 1 %}#}
{#                <td>#}
{#                    <img id="image_deeplift2" src=""  alt="">#}
{#                </td>#}
{#            {% endif %}#}

            <td>&nbsp;
            </td>
        </tr>
        {% endif %}

    </table>
    <p></p>

    {#original image, preprocessed image, crop optic disc, CAM ... #}
    <table border="1">
        <tr>
            <td class="font3">原始图像</td>
            <td class="font3">预处理图像</td>
            {% if  'bigclass_0_CAM' in predict_result %}
            <td width="300" class="font3">热力图-大类 {{ predict_result.bigclass_0_name }}</td>
            {% endif %}
            {% if  'img_file_crop_optic_disc' in predict_result %}
            <td width="120" class="font3">裁剪视盘</td>
            {% endif %}
            {% if 'bigclass_0_CAM_deeplift' in predict_result %}
            <td class="font3">DeepLift for {{ predict_result.bigclass_0_name }}</td>
            {% endif %}
            {% if 'bigclass_0_CAM_deepshap' in predict_result %}
            <td class="font3">DeepShap for {{ predict_result.bigclass_0_name }}</td>
            {% endif %}
        </tr>
        <tr>
            <td class="font3">
                <img src={{ predict_result.img_file_resized_384 }}  height="299" width="299" alt="">
            </td>
            <td>
                <img src={{ predict_result.img_file_preprocessed_384 }}  height="299" width="299" alt="">
            </td>
            {% if 'bigclass_0_CAM' in predict_result %}
            <td>
                <img src={{ predict_result.bigclass_0_CAM }}  height="299" width="299" alt="">
            </td>
            {% endif %}
            {% if 'img_file_crop_optic_disc' in predict_result %}
                <td>
                <img src={{ predict_result.img_file_crop_optic_disc }}  alt="">
                <p></p>
                <img src={{ predict_result.img_file_crop_optic_disc_mask }}  alt="">
                </td>
            {% endif %}
            {% if 'bigclass_0_CAM_deeplift' in predict_result %}
            <td>
                <img src={{ predict_result.bigclass_0_CAM_deeplift }}  height="299" width="299" alt="">
            </td>
            {% endif %}
            {% if 'bigclass_0_CAM_deepshap' in predict_result %}
            <td>
                <img src={{ predict_result.bigclass_0_CAM_deepshap }}  height="299" width="299" alt="">
            </td>
            {% endif %}
        </tr>
    </table>

    <p> </p>

    <p> </p>
    {% if 'img_file_all_lesions' in predict_result %}
        <span class="font0">红色表示出血，白色表示深处，灰白色表示棉绒斑</span>
        <br>

        <table border="1">
            <tr>
                <td class="font0">
                    原始图像
                </td>
                <td class="font0">
                    病变区域的图像
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{ predict_result.img_file_preprocess1_384 }}" alt="">
                </td>
                <td>
                    <img src="{{ predict_result.img_file_all_lesions }}" alt="">
                </td>
            </tr>
        </table>
    {% endif %}

    <p> </p>


    {%  if realtime_diagnose %}
    <form action="/feedback">
         <!--<p class="font3">User feedback</p>-->

        <p class="font3">
            请对以上分析进行评价:

        <select name="score">
          <option value="5">完全正确</option>
          <option value="4">部分正确</option>
          <option value="3">可能错误</option>
          <option value="0">完全错误</option>
        </select>
        </p>

{#        <br>#}
        您的意见（您的分析，可能错误原因等）：
        <br>
        <textarea name="memo" rows="6" cols="60"></textarea>
        <p></p>
{#        <input type="submit" value="submit" />#}


    </form>

    <p></p>

    <button onclick="submitBtnClick()">提交</button>
    &nbsp;&nbsp;&nbsp;
    <button onclick="javascript:window.location.href='/uploadimage'">返回</button>
    {% else %}
        <button onclick="javascript:window.location.href='/view_diagnoses'">返回</button>
    {% endif %}
</body>
</html>