<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style type="text/css">
        .font0{font-size:larger;color:#0000FF}
        .font1{font-size:large;color:#FF0000}
        .font2{font-size:large;color:#FF0000}
        .font3{font-size:large;color:#0000FF}
    </style>

</head>
<body>
{% load staticfiles %}
    <p></p>
    <h3 class="font0">{{ err_msg }}</h3>

    <P></P>

    <input type="button" name="Submit" onclick="javascript:history.back(-1);" value="Return">

</body>
</html>