<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .font0{font-size:larger;color:#0000FF}
        .font1{font-size:large;color:#FF0000}
        .font2{font-size:large;color:#FF0000}
        .font3{font-size:large;color:#0000FF}
    </style>
    <title>Your feedback has been sent successfully</title>
</head>
<body>
    <p></p>
    &nbsp;&nbsp;&nbsp;
    <a href="/uploadimage">Diagnose fundus images</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/view_diagnoses">Historical diagnosis results </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/logout">logout</a>
    <p></p>

    <h3 class="font0">Thank you for your feedback.

    </h3>
    <p></p>

    <button  onclick="location.href='/uploadimage'">Continue</button>
</body>
</html>