<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .font0{font-size:larger;color:#0000FF}
        .font1{font-size:large;color:#FF0000}
        .font2{font-size:large;color:#FF0000}
        .font3{font-size:large;color:#0000FF}
    </style>
    <title>您的反馈结果已经成功提交</title>
</head>
<body>
    <p></p>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/view_diagnoses">查看历史分析记录 </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/logout">注销</a>
    <p></p>

    <h3 class="font0">感谢您反馈结果。

    </h3>
    <p></p>

    <button  onclick="location.href='/uploadimage'">继续</button>
</body>
</html>