<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <style type="text/css">
        .font0{font-size:larger;color:#0000FF}
        .font1{font-size:large;color:#FF0000}
        .font2{font-size:large;color:#FF0000}
        .font3{font-size:large;color:#0000FF}
    </style>
    <title>Deep Learning Platform for fundus images</title>
</head>
<body>

<p class="font0">
    Deep learning platform for detecting 39 diseases or conditions using fundus images. Version1.1.
    <br>
{#    <a href="http://113.106.224.28:8787/">Old version(Version1.0)</a>#}

</p>

<p class="font3">

{#&nbsp;&nbsp;&nbsp;You can login into this version using the same username and password as version1.0.#}
<br>

    <br>
    In this version, we modified the algorithm of Class Activation Maps by using positive weights only. The intuition was the same as Guided Backpropagation and Grad-CAM++. In addition,  Deep Shap heatmaps were added for reference.
{#    In this version, we add two new saliency maps:#}
{#    <a href="https://arxiv.org/abs/1704.02685">DeepLift</a> and#}
{#    <a href="https://arxiv.org/abs/1705.07874">Deep Shap</a>.#}
{#    Moreover, we change the algorithm of Class Activation Maps.#}
{#    We only use positive weights, the intuition is the same as#}
{#    Guided Backpropagation and  <a href="https://arxiv.org/abs/1710.11063">Grad-CAM++</a>#}

  <p></p>
    <span class="font3">
&nbsp;&nbsp;&nbsp;Please select a language version:
    </span>
<br>

<a href="/login?lang=en">English</a> &nbsp &nbsp
<a href="/login?lang=cn">中文版</a>

</body>
</html>